/* עיצוב תגובתי */

/* כוונון גודל פונט בהתאם לרוחב וגובה של התצוגה */
body {
    font-size: 3vh; /* גודל פונט ברירת מחדל למסכים רגילים */
    
}

/* למסכים קטנים יותר, כוונון גודל פונט לפי ההתאם */
@media  {
    body {
        font-size: 2.5vh;

    
    }
}

/* למסכים קטנים יותר מאוד, כוונון גודל פונט שוב */
@media  {
    body {
        font-size: 2vh;
    }
}

/* מרכז את הטופס בעמוד */
form {
    max-width: 40%; /* כוונון ערך זה כפי שנדרש */
    max-height: 40%;

}




/* מרכז את סלקט בעמוד */
.right-align select  {font-size: 2.5vh;
    max-width: 40%; /* כוונון ערך זה כפי שנדרש */
    max-height: 40%;
    margin: 0 auto;
}




/* מרכז את הטופס בעמוד */
.right-align option  {font-size: 2.5vh;
    max-width: 40%; /* כוונון ערך זה כפי שנדרש */
    margin: 0 auto;
}
/* מרכז את הטופס בעמוד */
.buttonSendFile  {font-size: 2.5vh;
    max-width: 40%; /* כוונון ערך זה כפי שנדרש */
    margin: 0 auto;
}


